brotlipy==0.2.0
cffi==1.5.2
dj-database-url==0.4.1
Django==1.9.5
django-crispy-forms==1.6.0
gunicorn==19.4.5
hashids==1.1.0
Markdown==2.6.6
psycopg2==2.6.1
pycparser==2.14
pytz==2016.4
whitenoise==3.0
