brotlipy==0.6.0
cffi==1.9.1
dj-database-url==0.4.1
Django==1.10.4
django-crispy-forms==1.6.1
djangorestframework==3.3.3
gunicorn==19.6.0
hashids==1.1.0
Markdown==2.6.7
psycopg2==2.6.2
pycparser==2.17
pytz==2016.10
whitenoise==3.2.2
