{% extends 'volla/base.html' %}

{% block content %}

    <div class="text-container">

        <h1 class="large italic">User: <span class="no-italic">{{ user.username }}</span></h1>

        <div class="section-break">

            {% with user.vollumes.all as vollumes %}

                {% if vollumes %}

                    <h2 class="italic">Vollumes started by {{ user.username }}</h2>

                    {% for vollume in vollumes %}

                        <p class="margin-top"><a href="{{ vollume.get_absolute_url }}">{{ vollume.title }}</a></p>

                    {% endfor %}

                {% else %}

                    <p>{{ user.username }} hasn't created any vollumes yet.</p>

                {% endif %}

            {% endwith %}

        </div>

    </div>

{% endblock %}
