{% extends 'volla/base.html' %}

{% block content %}

    <div class="text-container">

        <h1 class="large italic">User: <span class="no-italic">{{ user.username }}</span></h1>

        <div class="section-break">

            <h2 class="italic">Recent contributions:</h2>

            {% for group in users_contributions %}

                <h3 class="margin-top bold">
                    <a href="{{ group.vollume.get_absolute_url }}">{{ group.vollume.title }}</a>
                </h3>

                {% for contribution in group.items %}

                    <p class="margin-top">{{ contribution.text }}</p>
            
                    <div class="small margin-top pad-top stylish-top-border ghostly-fade">
                        <p class="text-right right-arrow">
                            <a href="{{ contribution.get_absolute_url }}">Read more</a>
                        </p>
                    </div>

                {% endfor %}

            {% empty %}

                <p class="margin-top">{{ user.username }} hasn't made any contributions yet.</p>

            {% endfor %}

        </div>

    </div>

{% endblock %}
