{% extends 'volla/base.html' %}

{% load auth_redirect %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="text-container">

        {% if title %}
            <h1 class="title">
                <a href="{{ vollume.get_absolute_url }}">{{ vollume.title }}</a>
            </h1>
        {% endif %}

        {% for paragraph in paragraphs %}

            {{ paragraph.text_as_html }}

            <div class="small margin-top pad-top stylish-top-border ghostly-fade">
                <div class="flex-row">
                    <div class="ghost">
                        <p><a href="{{ paragraph.author.get_absolute_url }}">{{ paragraph.author.username }}</a></p>
                    </div>


                    <p class="text-right">
                        <a href="{{ paragraph.get_next_page_url }}" class="right-arrow">Continue</a>
                    </p>
                </div>
            </div>

        {% empty %}

            <p class="margin-top"><strong>That's the end of the story so far.</strong></p>

        {% endfor %}

        {% if form %}
            {% if user.is_authenticated %}

                <div class="{% if paragraphs %} ghostly-fade {% endif %}">
                    <div class="ghost">
                        {% if paragraphs %}
                            <div class="section-break">
                                <p class="italic margin-top">Suggest a different turn of events:</p>
                                <p class="small margin-top">
                                    Want to take the story in a different direction?
                                    Write it down below:
                                </p>
                            </div>
                        {% else %}
                            <div class="pad-top">
                                <p>Why not continue the story yourself by writing what happens next below:</p>
                            </div>
                        {% endif %}

                        <form class="main-form small no-labels margin-top" method="post" action="{{ form_submit_url }}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <button type="submit" class="btn btn-default">Add</button>
                        </form>
                    </div>
                </div>

            {% else %}

                <p class="margin-top">
                    <a href="{% auth_redirect 'login' %}">Login</a> or
                    <a href="{% auth_redirect 'register' %}">sign up</a> to continue the story yourself.
                </p>

            {% endif %}
        {% endif %}

    </div>

{% endblock %}
