{% spaceless %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    {% if whole_title %}
        <title>{{ whole_title }}</title>
    {% elif title %}
        <title>{{ title }} - Volla</title>
    {% else %}
        <title>Volla</title>
    {% endif %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700' rel='stylesheet' type='text/css'>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">

    {% block head %}

    {% endblock %}

</head>
<body>
    <nav class="flex-row ghostly-fade">

        <div class="row ghost">
            <p class="site-title"><a href="{% url 'home' %}">Volla</a></p>
        </div>

        <div class="row small ghost">
            {% if user.is_authenticated %}
                <p><a href="{% url 'new-vollume' %}">New Vollume</a></p>
                <p><a href="{% url 'logout' %}">Logout</a></p>
            {% else %}
                <p><a href="{% url 'login' %}">Login</a></p>
                <p><a href="{% url 'register' %}">Sign up</a></p>
            {% endif %}
        </div>

    </nav>

        {% block content %}

        {% endblock %}

    <!--
        {% for query in sql_queries %}
            Time: {{ query.time }}
            Sql: {{ query.sql }}

        {% endfor %}
     -->

</body>
</html>
{% endspaceless %}
