{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if whole_title %}
        <title>{{ whole_title }}</title>
    {% elif title %}
        <title>{{ title }} - Volla</title>
    {% else %}
        <title>Volla</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'home' %}">Volla</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'new-vollume' %}">New Vollume</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Sign up</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid">

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                {% if title %}
                    <div class="page-header">
                        <h1 class="h3">{{ title }}</h1>
                    </div>
                {% endif %}

                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>

    <!--
        {{ sql_queries }}
     -->

</body>
</html>
